@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Pacifico");

body {
    background: white;
}


video {
    position: fixed;
    width: 100%;
    z-index: -1;    
    padding:0px;

    margin-left: 0px;
}

section #banner{
    background: none;
}

#banner {
    color: #f2a3a5;
    font-size: 20px;
    padding: 9em 0 11em 0;
    text-align: center;
    position: relative;
    z-index: 9999;
}

#header .logo {
    font-family: 'Pacifico', cursive;
    display: inline-block;
    height: inherit;
    line-height: inherit;
    position: absolute;
    color: #e5474b;
    font-size: 1.75em;
    text-transform: none;
    font-weight: normal;
    padding: 0;
}
#header {
    z-index: 8;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;

    background: white;
    
    margin-top: 20px;
    text-align: center;
    
    line-height: 50px;
}

#header nav {
    display: inline;
    list-style: none; 
    margin: 35px; 
}

#header a {

    text-decoration: none;
    color: #8f8f8f;
    font-size: 20px;
    position: relative;
    text-transform: uppercase; 
}
