@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
body{
    font-family: 'Raleway', sans-serif;
    color: black;
}
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;

    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;

    transform: translateX(-50%) translateY(-50%);
}

section #banner{
    background: none;
}

#banner {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 20px;
    padding: 9em 0 11em 0;
    text-align: center;
    position: relative;
    z-index: 9999;
}

#header {
    width: 100%;

    z-index: 8;
    position: -webkit-sticky;
    position: sticky;
    background: #1c1c1c;

    line-height: 80px;
    text-align: right;

    display: block;
    left: 0;

    margin-bottom: 0px;
    top:0px;
}

#header nav {
    list-style: none; 
}

#header a {
    text-decoration: none;
    font-family: 'Sriracha', cursive;
    color: white;
    font-size: 20px;
    position: relative;

    margin-right: 50px;
}

#header a:last-child {
    margin-right: 150px;
}

#header .inner {
    margin: 0 auto;
    position: relative;
}

#sommaire{
    z-index: 8;
    position: -webkit-sticky;
    position: sticky;
    background: #1c1c1c;
    
    background-color: #1c1c1c;
    float: left;
    width: 15%;
    margin-top: 5px;
    font-family: 'Sriracha', cursive;
    color: white;
    top: 86px;
}

#sommaire a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

#corp{
    display: inline-block;
    margin: 5px 0.5% 5px 0.5%; 
    background-color: white;
    width: 83%;
    color: black;
}

.para {
    margin: 0;
    padding: 0;
    padding-bottom: 16px;
}

table{
    border-collapse: collapse;
    border: 1px solid ;
    width: 50%;
    margin-left: 25%;
}

td,th{
    text-align: center;
    border: 1px solid ;
}

.vide{
    background-color: rgb(179, 179, 179);
}

abbr{
    text-decoration: none;
    font-style: italic;
}

h2{
    font-family: 'Sriracha', cursive;
    margin: 0;
    padding: 10px;
    background-color: #1c1c1c;
    color: white;
    text-align: center;
}

h3 {
/*    margin: 15px;
    padding: 5px;*/
    color: #e5474b; 
    text-decoration: underline;
    display: block;
    width: 105px;
}
/*
#expo{
    background-color: #7e645a83;
}

#expo > table{
    color: white;
    
}

#expo h3{
    color: #e5474b;
}*/