@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body {
    margin: 0; 
    font-family: 'Raleway', sans-serif;
}

video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;

    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;

    transform: translateX(-50%) translateY(-50%);
}

h2 {
    color: #e5474b;
    font-weight: 700;

	text-transform: uppercase;

}

section #banner{
    background: none;
}

#banner {
    font-family: 'Raleway', sans-serif;
    color: #4D001F;
    font-size: 20px;
    padding: 9em 0 11em 0;
    text-align: center;
    position: relative;
    z-index: 9999;
}


#top-bar {
    width: 100%;

    z-index: 8;
    position: -webkit-sticky;
    position: sticky;
    background: #1c1c1c;

    line-height: 80px;
    text-align: right;
    top: 0px;



    margin-bottom: 0px;
}

#top-bar nav {
    display: inline;

}

#top-bar a {
    text-decoration: none;
    font-family: 'Sriracha', cursive;
    color: white;
    font-size: 20px;
    position: relative;

    margin-right: 50px;
}

#top-bar a:last-child {
    margin-right: 150px;
}

img[alt="logo"]{
  margin-right: 2%;
  position: relative;
  top: 13px;
}

h2 {
    margin-top: 0px;
    padding-top: 40px;
    text-indent: 25px;
}

div {
    background: white;
}

table {
    border-collapse: separate;
    border-spacing: 12px;
    text-align: center;
    margin: auto;
    padding-bottom: 32px;

    width: 80%;


  }

  td, th, tr {
    /*border-style: solid;
    border-width: 1px;*/
    height: 200px;
}

td {
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center;
}


.a1996 tr:nth-child(1) td:nth-child(1){
    background-image: url("../conférencemontagediapos/1996\ d.jpg");
}

.a1996 tr:nth-child(1) td:nth-child(2){
    background-image: url("../conférencemontagediapos/1996\ b.jpg");
}

.a1996 tr:nth-child(1) td:nth-child(3){
    background-image: url("../conférencemontagediapos/1996\ c.jpg");
}

.a1996 tr:nth-child(2) td:nth-child(1){
    background-image: url("../conférencemontagediapos/1996\ g.jpg");
}

.a1996 tr:nth-child(2) td:nth-child(2){
    background-image: url("../conférencemontagediapos/1996\ f.jpg");
}

.a1996 tr:nth-child(3) td:nth-child(1){
    background-image: url("../conférencemontagediapos/1996\ l.jpg");
}


.a1996 tr:nth-child(3) td:nth-child(2){
    background-image: url("../conférencemontagediapos/1996\ o.jpg");
}

.a1996 tr:nth-child(3) td:nth-child(3){
    background-image: url("../conférencemontagediapos/1996\ e.jpg");
}

.a1996 tr:nth-child(4) td:nth-child(1){
    background-image: url("../conférencemontagediapos/1996\ m.jpg");
}

.a1996 tr:nth-child(4) td:nth-child(1){
    background-image: url("../conférencemontagediapos/1996\ m.jpg");
}

.a1996 tr:nth-child(5) td:nth-child(1){
    background-image: url("../conférencemontagediapos/1996\ n.jpg");
}

.a1996 tr:nth-child(5) td:nth-child(2){
    background-image: url("../conférencemontagediapos/1996\ a.jpg");
}



.a1994 tr:nth-child(1) td:nth-child(1){
    background-image: url("../conférencemontagediapos/1994\ i.jpg");
}

.a1994 tr:nth-child(1) td:nth-child(2){
    background-image: url("../conférencemontagediapos/1994\ a.jpg");
}

.a1994 tr:nth-child(2) td:nth-child(1){
    background-image: url("../conférencemontagediapos/1994\ h.jpg");
}

.a1994 tr:nth-child(3) td:nth-child(1){
    background-image: url("../conférencemontagediapos/1994\ d.jpg");
}

.a1994 tr:nth-child(3) td:nth-child(2){
    background-image: url("../conférencemontagediapos/1994\ b.jpg");
}

.a1994 tr:nth-child(3) td:nth-child(3){
    background-image: url("../conférencemontagediapos/1994\ g.jpg");
}

.a1994 tr:nth-child(4) td:nth-child(1){
    background-image: url("../conférencemontagediapos/1994\ c.jpg");
}

.a1994 tr:nth-child(4) td:nth-child(2){
    background-image: url("../conférencemontagediapos/1994\ e.jpg");
}

.a1992 tr:nth-child(1) td:nth-child(1){
    background-image: url("..//conférencemontagediapos/1992\ e.jpg");
}

.a1992 tr:nth-child(1) td:nth-child(2){
    background-image: url("..//conférencemontagediapos/1992\ c.jpg");
}

.a1992 tr:nth-child(1) td:nth-child(3){
    background-image: url("..//conférencemontagediapos/1992\ f.jpg");
}

.a1992 tr:nth-child(3) td:nth-child(1){
    background-image: url("..//conférencemontagediapos/1992\ a.jpg");
}

.a1992 tr:nth-child(5) td:nth-child(1){
    background-image: url("..//conférencemontagediapos/1992\ d.jpg");
}
.a1992 tr:nth-child(5) td:nth-child(2){
    background-image: url("..//conférencemontagediapos/1992\ h.jpg");
}

.a1991 tr:nth-child(1) td:nth-child(1){
    background-image: url("..//conférencemontagediapos/1991\ a.jpg");
}

.a1991 tr:nth-child(1) td:nth-child(2){
    background-image: url("..//conférencemontagediapos/1991\ c.jpg");
}

.a1991 tr:nth-child(1) td:nth-child(3){
    background-image: url("..//conférencemontagediapos/1991b.jpg");
}


.a1980 tr:nth-child(1) td:nth-child(1) {
    background-image: url("..//conférencemontagediapos/1985\ b.jpg");
}

.a1980 tr:nth-child(1) td:nth-child(2) {
    background-image: url("..//conférencemontagediapos/1986\ a.jpg.");
}

.a1980 tr:nth-child(1) td:nth-child(3) {
    background-image: url("..//conférencemontagediapos/1986\ b.jpg");
}
.a1980 tr:nth-child(1) td:nth-child(4) {
    background-image: url("..//conférencemontagediapos/1986c.jpg");
}

.a1980 tr:nth-child(2) td:nth-child(1) {
    background-image: url("..//conférencemontagediapos/1980\ a.jpg");
}

.a1980 tr:nth-child(2) td:nth-child(2) {
    background-image: url("..//conférencemontagediapos/1981\ \ a.jpg");
}

.a1980 tr:nth-child(3) td:nth-child(1) {
    background-image: url("..//conférencemontagediapos/1985\ a.jpg");
}

.a1960 tr:nth-child(1) td:nth-child(1) {
    background-image: url("..//conférencemontagediapos/1969\ a.jpg");
}

.a1960 tr:nth-child(1) td:nth-child(2) {
    background-image: url("..//conférencemontagediapos/1969\ c.jpg");
}

.a1960 tr:nth-child(1) td:nth-child(3) {
    background-image: url("..//conférencemontagediapos/1969\ b.jpg");
}